<!--<p> server with id {{ serverId }} is {{ getServerStatus() }}</p>-->

<!--<input type="text" [(ngModel)] = "serverStatus">-->

<!--&lt;!&ndash;<p>{{ serverStatus }}</p>&ndash;&gt;-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-3">-->
            <!--<label for="">Username</label>-->
            <!--<input type="text" [(ngModel)] ="userName">-->
        <!--</div>-->
        <!--<div class="col-lg-6">-->
            <!--<p>{{ userName }}</p>-->
            <!--<button [disabled]="userName === ''"-->
            <!--(click)="resetUserName()">-->
                <!--Reset User-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<p [ngStyle]="{backgroundColor:getServerColor() }">{{ getServerName() }}-->

<!--</p>-->
<!--<div class="row">-->
    <!--<div class="col-md-4">-->
        <!--<span *ngIf="serverIsOnline(); else offline">-->
            <!--<p [ngClass]="{ online: serverIsOnline() }">-->
                <!--Online-->
            <!--</p>-->
        <!--</span>-->
        <!--<ng-template #offline>-->
            <!--<p [ngClass]="{ offline: serverIsOffline() }">-->
                <!--Offline-->
            <!--</p>-->
        <!--</ng-template>-->
    <!--</div>-->

<!--</div>-->



